*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
#window-main-screen{
background-color: azure;
width: 100rem;
height:100rem;
justify-content: center;
 align-items: center;
 display: flex;
 margin-top:0px;

}
#window-screen{
 background-color: wheat;
 width:50rem;
 height:30rem;
 text-align: center;
 padding-top:20px;
}